# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Compiled binary addons 
build/Release

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Nuxt.js build / generate output
.nuxt
dist

# Idea folder
.idea/